.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    
}
.hash { color: rgba(0,0,0,0)}

.list {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    background-color: rgb(40, 40, 40);
    color: rgb(217,217,217);
    border: 1px solid;
    line-height: 1;
}

.code {
    font-family: arial;
    font-size: 20px;
    text-align: left;
    background-color: rgb(40, 40, 40);
    color: rgb(217,217,217);
    padding-left: 10px;
    border: 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 0.75;
}
